<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <patter>###LOGBACK###: %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</patter>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>